* {
  box-sizing: border-box;
}

button {
    display: block;
    margin: 20px auto;
    background: crimson;
    color: #fff;
    border: 0;
    cursor: pointer;
    padding: 6px 10px;
}
/* Fundo da tela esmaecido*/
.popup-wrapper {
  visibility: hidden;
  background: RGB(0,0,0,.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup-wrapper-perde {
  visibility: hidden;
  background: RGB(0,0,0,.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*Configurando a aparência e localização da popup */
.popup {
  font-family: arial;
  text-align: center;
  width: 100%;
  max-width: 300px; /*para não exceder telas menores*/
  margin: 10% auto;
  padding: 20px;
  background: #fff;
  position: relative;
}

.popup-content p {
  padding: 12px 0;
  line-height: 14pt;
  color: #ff0000;
  font-weight: bold;
}

.popup a {
  color: #0000ff;
  cursor: pointer;
  text-decoration: none;
  /*background: crimson;*/
}

.popup-close {
  position: absolute; /*relativa ao popup que tem a position relative*/
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: #ff0000;
  font-weight: bold;
}
